body {
	background-image: url("albert.png");
	background-size: 63px 73px;
	animation: animatedBackground 10s linear infinite;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

#container {
	margin-top: 100px;
	height: 500px;
    width: 50%;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px black;
    min-width: 400px;
}

#signup {
	display: none;
	height: 75px;
}

#name {
	padding: 9px;
    font-size: 27.5px;
    line-height: 27.5px;
    float: left;
    width: calc(100% - 113px);
}

#join {
	float: left;
	background-color: white;
}

#joinText {
	margin: 0 50px;
}

#main {
	display: none;
}

#scrollbox {
	border: 2px solid black;
	padding: 0;
	overflow: scroll;
	height: 215px;
}

#scrollboxTitle {
	margin: 50px 0 0 0;
	font-style: italic;
}

#listItem {
	list-style-type: none;
	border-bottom: 2px solid black;
	margin: 0;
}

#welcome {
	font-family: impact;
	font-size: 24px;
}

#timerTitle{
	margin-top: 25px;
	display: block;
}

#timer {
	display: block;
	font-family: impact;
	font-size: 18px;
}

#albert {
	position: fixed;
	bottom: -33px;
	left: -33px;
	animation-name: albertAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

#albert:hover {
	animation-duration: 0.2s;
	animation-name: albertFlip;
	cursor: pointer;
}

@keyframes albertAnimation {
    0%   {transform: rotate(35deg);}
    100%  {transform: rotate(55deg);}
}

@keyframes albertFlip {
    0%   {transform: rotate(25deg);}
    100%  {transform: rotate(65deg);}
}