body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: Helvetica;
}

#top {
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    width: 100%;
    padding: 20px 0;
    border-bottom: 2px solid black;
}

#content {
    height: calc(100% - 62px);
}

#change_plan {
    position: absolute;
    left: 15px;
    display: none;
}

#home_button {
    position: absolute;
    left: 110px;
    display: none;
}

#current_plan_label {
    position: absolute;
    left: 195px;
    display: none;
}

#money_remaining_label {
    position: absolute;
    right: 15px;
}

#menu {
    text-align: center;
    overflow: auto;
    height: calc(100% - 62px);
}

#blocked, #out_of_data, #out_of_money {
    text-align: center;
    display: none;
    margin: 50px auto;
}

#plan_chooser {
    font-size: 16px;
    margin: 50px auto 25px;
}

#plan_chooser_header {
    margin: 50px;
}

tr, td, th, table {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 25px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: none;
}

button {
    cursor: pointer;
    border: 2px solid black;
    background: none;
    padding: 3px;
    outline: none;
}

button:active {
    background-color: black;
    color: white;
}

caption {
    font-style: italic;
    font-size: 12px;
    caption-side: bottom;
}

a {
    text-decoration: none;
    color: blue;
}
