body {
	background-image: url("bg.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}

#backgroundCover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.3;
	transition: 0.5s;
	z-index: -9999;
}

#backgroundCover.faded {
	opacity: 1;
	transition: 0.5s;
}

section {
	color: white;
	padding: 100px;
	font-family: "Helvetica";
}

.spacer {
	margin-top: 1000px;
}

h1 {
	font-size: 72px;
	margin-bottom: 0;
}

span {
	font-size: 32px;
	margin: 16px;
}

p {
	margin: 0;
	padding: 10px;
}

a {
	text-decoration: none;
	color: white;
	transition: all ease-in-out 0.25s;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white;
}

#portfolio-button {
	position: absolute;
	color: white;
	text-shadow: 5px 5px 5px black;
	font-family: "Helvetica";
	font-size: 16px;
	left: 20px;
	top: 20px;
	border: 2px solid white;
	padding: 20px;
	width: 100px;
	text-align: center;
}

.landing {
	position: absolute;
	top: 40%;
	right: 10%;
	text-align: right;
	color: white;
	text-shadow: 5px 5px 5px black;
	font-family: "Helvetica"
}

footer {
	background-color: #333;
	color: grey;
	text-align: right;
	font-family: "Helvetica";
	padding: 10px;
}

img {
	border: 25px solid white;
}
