body {
	background-color: #FF0000
}

h1 {
	color: #FFFFFF;
}

p {
	color: #FFFFFF;
}

i {
	color: #FFFFFF;
}

a {
	color: #FFFFFF;
}

button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  background: #0000ff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #00ff00;
  text-decoration: none;
}