@media (min-width: 1100px) {
	#aboutText {
		margin-left: 120px;
		width: 40%;
		color: #FFF;
	}
	#aboutImage {
		z-index: -1;
		position: absolute;
		right:0;
		bottom:0;
		overflow: hidden;
	}
}

@media (max-width: 1100px) {
	#aboutText {
		margin-left: 24px;
		width: 60%;
		color: #FFF;
	}
	#aboutImage {
		z-index: -1; position: absolute;
		right:0;
		bottom:0;
		overflow: hidden;
	}
}

@media (max-width: 920px) {
	#aboutText {
		margin: 0px 50px;
		width: calc(100% - 100px);
		color: #000;
	}
	#aboutImage {
		z-index: -1; position: static;
	}
}

#promoImage {
	width: 35%;
	display: block;
}

#promoText {
	font-size: calc(3vw + 10px);
}

#contact {
	overflow: hidden;
	display: block;
}

.sectionHeader {
	margin-top: 50px;
}

.promoIcon {
	margin: 30px 0px;
	display: block;
	color: #555;
}

.promoButton {
	width: 95%;
	max-width: 225px;
}

div.promo {
	margin:50px 0px;
}

div.card-content {
	height:225px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
