button {
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	text-shadow: 1px 1px 3px #666666;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: Arial;
	color: #ffffff;
	font-size: 32px;
	background: #961919;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

button:hover {
	background: #a82a2a;
	text-decoration: none;
}

body {
	background-image:url(http://www.myfreetextures.com/wp-content/uploads/2014/10/texture-seamless-wood-5.jpg);
	color:white;
}

h1 {
	font-family:Fantasy;
	font:Papyrus;
}

i {
	font-family:Fantasy;
	font:Papyrus;
}

p {
	font-size:20px;
	padding: 50px;
	font-family:Fantasy;
	font:Papyrus;
}