@media only screen and (max-device-width: 480px) {
	#title {
		font-size: 25px;
		color: white;
	}
}

@media only screen and (min-device-width: 480px) {
	#title {
		font-size: 80px;
		color: white;
		margin-bottom: 100px;
	}
}

body {
	background-color: purple;
}

#title {
	font-size: 80px;
	color: white;
	margin-bottom: 100px;
}

#story {
	font-size: 2vw;
}

#counter {
	font-size: 10vw;
}

#inner-button:hover {
	background-color: red;
}

#inner-button:active {
	background-color: yellow;
}

#inner-button {
	width: 15vw;
}

td, th {
	text-align: left;
	color: white;
}

.padding {
	padding: 1vw;
}