#youlose {
	font-size: 150px;
	text-align: center;
	color: white;
	animation: wiggle 0.5s;
	/*animation-timing-function: linear;*/
	animation-iteration-count: infinite;
}

#youloseC {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#youloseBG {
	animation: colorchange 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes colorchange {
	0%   {background: red;}
	25%  {background: yellow;}
	50%  {background: blue;}
	75%  {background: green;}
	100% {background: red;}
}

@keyframes wiggle {
	0%   {transform: rotate(0deg); color: black; font-size: 5em}
	25%  {transform: rotate(-20deg)}
	50% {transform: rotate(0deg); color: white; font-size: 10em}
	75%  {transform: rotate(20deg)}
	100% {transform: rotate(0deg); color: black; font-size: 5em}
}