body {
	background-color: #b2d81e;
}

h1 {
	font-family: "Comic Sans MS";
	font-size: 2em;
}

p {
	font-family: "Comic Sans MS";
}

img {
	max-width: 100%;
}

button {
	background-color: #d81eb2;
	border: 0;
	box-shadow: 2px 2px 2px black;
	padding: 25px 100px;
	color: white;
	font-family: "Comic Sans MS";
	font-weight: bold;
	font-size: 25px;

	margin-bottom: 25px;
}

#zoon {
	padding: 25px 0;
}

.container {
	background-color: white;
	box-shadow: 2px 2px 2px black;
	padding: 7%;
	margin: 5%;
}